html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
}

#map {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.info {
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 12pt;
    font-family: 'Crimson Pro', serif;
}

.info h4, .info b {
    margin-top: 5px;
}

.leaflet-top.leaflet-left {
    padding: 0;
}

/* Adjust the leaflet control button styles */
.leaflet-control-custom .leaflet-bar-custom-button {
    background: rgba(255, 255, 255, 0.5); /* transparent background */
    color: rgba(0, 0, 0, 1); /* opaque text color */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Optional: to change cursor on hover */
    font-size: 12pt;
    font-family: 'Crimson Pro', serif;
}

/* Adjust hover opacity for leaflet control buttons */
.leaflet-control-custom .leaflet-bar-custom-button:hover {
    background: rgba(255, 255, 255, 0.7); /* slightly less transparent on hover */
}

.label {
    text-align: center;
    font-size: 10pt;
    color: black;
    font-family: 'Crimson Pro', serif;
}

.label-text {
    background: none;
    padding: none;
    border-radius: 3px;
    font-weight: bold;
}

.control-box {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Crimson Pro', serif;
}

.control-box label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 12pt;
}

.control-box select,
.control-box input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Crimson Pro', serif;
}

.duration-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duration-input {
    flex: 1;
    margin-right: 5px;
}

.duration-button {
    background: none; /* transparent background */
    color: rgba(0, 0, 0, 1); /* opaque text color */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Optional: to change cursor on hover */
    font-size: 12pt;
    font-family: 'Crimson Pro', serif;
    padding: 3px 10px 7px 10px;
    margin-bottom: 10px;
}

.time-div {
    display: flex;
    flex-wrap: wrap;
}

.hour-select,
.minute-select,
.ampm-select {
    flex: 1;
    margin-right: 5px;
    width: auto; /* Adjust the width as needed */
}

.day-select {
    width: 201px !important;
}

.leaflet-top.leaflet-left .control-box {
    border-radius: 7px;
}

.current-time-div {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0px;
    justify-content: flex-end;
}

.current-time-div .control-label {
    flex: 1;
    width: auto; /* Adjust the width as needed */
    padding: 0;
    white-space: nowrap;
}

.current-time-div .current-checkbox {
    margin: 0;
    margin-right: 8px;
    padding: 0;
    width: auto;
    transform: scale(1.5);
}

.info, .leaflet-control-custom, .control-box {
    font-size: 12pt;
}

@media (max-aspect-ratio: 1/1) {
    .info, .leaflet-control-custom, .control-box {
        font-size: 65pt; /* Larger font size for taller screens */
    }

    .control-box select, .control-box input, .control-box button {
        padding: 100px; /* Increase padding for inputs and buttons */
    }

    .control-box .duration-input {
        width: 500px; /* Increase width for duration input */
    }
}