body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#infoPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px; /* Fixed width */
    min-height: 60px; /* Minimum height */
    background-color: rgba(255, 255, 255, 0.5);;
    padding: 10px;
    padding-top: 20px;
    border: none;
    overflow: auto; /* Enable scrolling if needed */
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Crimson Pro', serif;
}

#infoTitle {
    font-weight: bold;
}

#infoContentTitle {
    line-height: 1.5;
}

#infoContent {
    white-space: pre-wrap; /* Preserve whitespace and enable text wrapping */
    line-height: 1.5;
}

.bold {
    font-weight: bold;
}

#leftPanel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.5); /* Slightly transparent */
    border-radius: 5px;
    padding: 15px;
    font-family: 'Crimson Pro', serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 250px; /* Adjust as needed */
}

.panel-section {
    margin-bottom: 15px;
}

.panel-section label {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.panel-section select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'Crimson Pro', serif;
}

.time-selectors {
    display: flex;
    gap: 5px;
}

.time-selectors select {
    flex: 1; /* Allow each dropdown to grow */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'Crimson Pro', serif;
}

.duration-controls {
    display: flex;
    align-items: center;
}

#decrementButton, #incrementButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Crimson Pro', serif;
}

#durationBox {
    width: 60px; /* Adjust width as needed */
    text-align: center;
    margin: 0px;
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff; /* Background color to match dropdowns */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adjust spacing as needed */
}

.checkbox-container input[type="checkbox"] {
    width: 16px;  /* Adjust size as needed */
    height: 16px; /* Adjust size as needed */
    -webkit-transform: scale(1.5); /* For a slightly larger checkbox */
    transform: scale(1.5);         /* For a slightly larger checkbox */
    margin-left: 100px;
    margin-top: 5px;
}

.checkbox-container label {
    font-family: 'Crimson Pro', serif;
    font-size: 16px;
}

@media (max-width: 600px) {
    #infoPanel {
        padding: 5px;
        font-size: 13px;
        max-width: 150px;
        min-height: 40px;
        width: 120px;
    }

    #leftPanel {
        padding: 5px;
        font-size: 13px;
        max-width: 200px;
    }

    .checkbox-container label {
        font-family: 'Crimson Pro', serif;
        font-size: 13px;
    }
    
    .checkbox-label input {
        transform: scale(1.2);
        margin-left: 10px;
    }

    .time-selectors select {
        font-size: 13px;
    }

    .checkbox-container input[type="checkbox"] {
        width: 14px;  /* Adjust size as needed */
        height: 14px; /* Adjust size as needed */
        -webkit-transform: scale(1.3); /* For a slightly larger checkbox */
        transform: scale(1.3);         /* For a slightly larger checkbox */
        margin-left: 80px;
        margin-top: 5px;
    }

    #durationBox {
        font-size: 13px;
    }

    #dayDropdown {
        font-size: 13px;
    }
}